
<form action="//diet.us12.list-manage.com/subscribe/post?u=a031ed7e5cb310deb806b148a&amp;id=45c35cc59c" method="post" target="_blank" novalidate>

    <p class="spaced-less"><b>Subscribe for updates:</b></p>

    <div class="spaced-less">
        <label for="mce-EMAIL">Email Address:</label>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL">
    </div>

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a031ed7e5cb310deb806b148a_45c35cc59c" tabindex="-1" value=""></div>

    <input type="submit" value="Subscribe" name="subscribe"/>

</form>
